$color-primary: #6190e8;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary: #ff1744;
$color-secondary-light: lighten($color-primary, 20%);
$color-secondary-dark: darken($color-primary, 20%);

$color-success: #13ce66;
$color-error: #ff4949;
$color-warning: #ffc82c;
$color-info: #78a4fa;

$background-color-primary: #fff;
$background-color-secondary: darken($background-color-primary, 5%);

$text-color-primary: rgba(0, 0, 0, 0.87);
$text-color-secondary: rgba(0, 0, 0, 0.54);
$text-color-hint: rgba(0, 0, 0, 0.38);
$text-color-disabled: rgba(0, 0, 0, 0.38);
$text-color-contrast: #fff;

$divider-color: rgba(0, 0, 0, 0.12);

// Skeleton
$skeleton-color: #eee;
$skeleton-color-contrast: #959595;
